。
0 零 〇
1 一 壹
2 二 貳
3 三 叁
4 四 肆
5 五 伍
6 六 陸
7 七 柒
8 八 仈
9 九 玖
s 十 拾
b 百
k 千
w 萬 
y 億
. 又 分 
print 書
print_it 書之
def 吾有一
function 術
number 數
list 列
string 言
get 夫
index 之
named_as 名之曰 曰
" 「「
" 」」
( 「
) 」
end 云云
do 為是
times 遍
func_param 欲行是術必先得
func_begin 乃行是術曰 是術曰
if 若
== 等於
< 小於
> 大於
+ 加
- 減
* 乘
/ 除
with 以
use_func 施
use_to 於
return 乃得
break 乃止
end_if 也
end_stat 者
else 否則
this_is 是謂
func_end 之術也
while_true 恆為是
do 為是
times 遍