。
0 零 〇
1 一 壹
2 二 貳
3 三 叁
4 四 肆
5 五 伍
6 六 陸
7 七 柒
8 八 仈
9 九 玖
s 十 拾
b 百
k 千
w 萬 万
y 億 亿
. 又 分 
print 書 书
print_it 書之 书之
def 吾有一
function 術 术
number 數 数
list 列
string 言
get 夫
named_as 名之曰 曰
" 「「
" 」」
( 「
) 」
end 云云
func_param 欲行是術 欲行是术
if 若
== 等於 等于
< 小於 小于
> 大於 大于
+ 加 加以
- 減 减以
* 乘 乘以
/ 除 除以
% 余 余以
with 以
use_func 施
use_to 於 于
it 其 之
return 乃得
return_it 乃得之
break 乃止
end_if 也
end_stat 者
else 否則 否则
this_is 是謂 是谓
func_end 之術也 之术也
while_true 恆為是 恒为是
do 為是 为是
times 遍
eval 有数 有數 有和 有差 有积 有商 有余 又有
round_it 四舍五入
floor_it 取其整
